@model Football.Models.Team

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeamDetails</title>
</head>
<body>
    <div> 
        <dl>
            <dt>Название</dt>
            <dd>@Html.DisplayFor(m => m.Name)</dd>
            <dt>Тренер</dt>
            <dd>@Html.DisplayFor(m => m.Coach)</dd>
            <dt>Игроки</dt>
            <dd>
                <ul>
            @foreach (var player in Model.Players)
            {
                <li>@player.Name (@player.Position)</li>
            }
                </ul>
            </dd>
        </dl>
        
    </div>
</body>
</html>
